body {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
}

header {
    position: absolute;
    width: 100vw;
    height: 60px;
    left: 0px;
    top: 0px;
}

.advanced-header {
    background-color: #f1f1f1;
}

.header {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.small-logo {
    position: relative;
    top: 6px;
    left: 10px;
    width: 95px;
}

a {
    text-decoration: none;
    margin: 0px 5px 0px;
    color:#5e5e5e;
}

a:hover {
    color: rgba(0, 0, 0, 0.87);
}

.wrapper {
    display: grid;
    place-items: center;
    margin: auto;
}

form {
    position: relative;
}

.search-div {
    display: grid;
    place-items: center;
}

.advanced-div {
    text-align: left;
}

form > button {
    background-color: white;
    border: none;
    position: absolute;
    right: 20px;
    top: 27px;
    font-size: 18px;
    color: #4285f4;
    cursor: pointer;
}

button:focus {
    outline: none;
}

#qbox {
    border: 2px solid #e6e8eb;
    border-radius: 22px;
    padding: 10px 25px 10px;
    width: 35vw;
    height: 3.2vh;
    margin: 15px 0px 20px;
    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
}

@media (max-width: 600px) {
    #qbox {
        width: 80vw;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    #qbox {
        width: 50vw;
    }
}

#qbox:focus, #qbox:hover {
    outline: none;
    box-shadow: 0px 0px 5px 0px #d3d1d1;
}

.button {
    border: 1px solid white;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    color: #35363b;
    background-color: #f8f9fa;
    padding: 0.7em 1em 0.7em;
    margin: 5px;
}

.button:hover {
    border: 1px solid #d9dadd;
}

.logo-subtext {
    color: #4285f4;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    text-align: right;
    margin: -22px 0px 10px;
    right: 2px;
}

.title-box {
    position: absolute;
    top: 60px;
    left: 0px;
    border-bottom: 1px solid #e9e8e8;
    width: 100vw;
    
}

.advanced-title {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #d93025;
    margin: 25px 0px 25px 45px;
}

.advanced-h2 {
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
}

p {
    font-family: Arial;
    font-size: 13px;
    line-height: 30px;
    color: #222;
}

.advanced-wrapper {
    margin: 125px 36px 30px;  
    display: grid;
    grid-template-columns: 170px minmax(45vw, 0.5fr);
}

.sidebar { 
    text-align: left;
}

.container {
    padding: 53px 0px 0px 0px;
    /* border: 2px solid black; */
}

.ad-input {
    width: 99%;
    height: 27px;
    border-radius: 2px;
    margin: 0px 0px 11px;
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 13px;
    border: 2px solid #D9D9D9;
    padding: 0px 7px 0px;
}

.ad-input:focus {
    outline-color: #A6C7FF;
}

#ad-button {
    position: absolute;
    right: -12px;
    border: 1px solid #3C69C2;
    border-radius: 3px;
    color: white;
    background-color: #397EEC;
    padding: 7px 10px 7px;
    margin: 30px 0px 10px;
}