body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
    font-size: 1.125rem;
}

code {
    white-space: pre;
}

h1 {
    margin: 20px 0px;
}

textarea {
    min-height: 30vh;
    width: 100%;
    padding: 0.5em;
}

/*====
  Main 
  ====*/

.main {
    padding: 10px;
}

.content {
    margin: 1em;
    width: 90%;
    position: absolute;
}

/*=======
  Sidebar 
  =======*/

.sidebar {
    background-color: #222;
    min-height: 100vh;
    padding: 25px;
    color: #f0f0f0;
}

.search {
    margin: 0.30em 0;
    width: 100%;
    font-size: 1.125rem;
    line-height: 15px;
}

.sidebar h2 {
    margin-top: 5px;
}

.sidebar-element {
    font-size: 1.125rem;
    margin: 0.75em 0; 
}

.sidebar-link {
    color: #DDD;
    user-select: none;
}

.sidebar-link:hover {
    text-decoration: none;
    color: #EEE;
}

.site-title {
    user-select: none;
    padding-top: 0.65em;
}

/*=====
  Forms 
  =====*/

.form {
    max-width: 70vw;
}

.edit_submit {
    margin: 1.5em 0em;
    text-align: right;
}

.edit_btn {
    position: absolute;
    top: 27px;
    right: 0%;
}

.field-title {
    font-size: 1.250rem;
    margin: 1em 0em 0em 0em;
    color: #2f2f2f;
}

.small-info {
    opacity: 80%;
    font-size: 1rem;
}

.errorlist {
    color: #ff0033;
    padding: 0;
    list-style-type: none;
}

/*=====
  Media 
  =====*/

  @media (min-width: 800px) {
    .content {
        width: 70%;
    }
}