body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;

}

code {
    white-space: pre;
}

h1 {
    margin: 20px 0px;
    /* padding-top: 20px; */
}

textarea {
    min-height: 30vh;
    width: 100%;
    padding: 0.5em;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.form {
    max-width: 70vw;
}

.content {
    margin: 1em;
    /* border: 2px solid blue; */
    width: 90%;
    position: absolute;
}

@media (min-width: 800px) {
    .content {
        width: 70%;
    }
}

.edit_submit {
    margin: 1.5em 0em;
    text-align: right;
}

.edit_btn {
    position: absolute;
    top: 27px;
    right: 0%;
}

.field-title {
    font-size: 1.075rem;
    margin: 1em 0em 0em 0em;
    color: #2f2f2f;
}

.small-info {
    opacity: 80%;
}

.errorlist {
    color: #ff0033;
    padding: 0;
    list-style-type: none;
}